.c1 {
	margin-top: 40px;
	font-size: 60px;
}

.t1 {
	font-size: 100px;
	margin-top: 10px;
}

.t3 {
	color: navy;
	font-family: sans-serif;
	font-size: 90px;
	margin-top: 10px;
}

.t2 {
	color: blue;
}

span {
	font-size: 30px;
	color: teal;
}

.wcf
{
	padding: 5px;
}