<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>SaveNote</servlet-name>
  	<display-name>SaveNote</display-name>
  	<description></description>
  	<servlet-class>com.todo.Controller.SaveNote</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteNote</servlet-name>
  	<display-name>DeleteNote</display-name>
  	<description></description>
  	<servlet-class>com.todo.Controller.DeleteNote</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateNote</servlet-name>
  	<display-name>UpdateNote</display-name>
  	<description></description>
  	<servlet-class>com.todo.Controller.UpdateNote</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>loginCheck</servlet-name>
  	<display-name>loginCheck</display-name>
  	<description></description>
  	<servlet-class>com.todo.Controller.loginCheck</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserRegister</servlet-name>
  	<display-name>UserRegister</display-name>
  	<description></description>
  	<servlet-class>com.todo.Controller.UserRegister</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>SaveNote</servlet-name>
  	<url-pattern>/SaveNote</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteNote</servlet-name>
  	<url-pattern>/DeleteNote</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateNote</servlet-name>
  	<url-pattern>/UpdateNote</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>loginCheck</servlet-name>
  	<url-pattern>/loginCheck</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserRegister</servlet-name>
  	<url-pattern>/UserRegister</url-pattern>
  </servlet-mapping>
</web-app>
